---
import { Image } from "astro:assets";
import background from "../assets/background.png";
import logo from "../assets/logocolor.png";

import { contentfulClient, type ContentfulEvent } from "../lib/contentful";
import EventCard from "./EventCard.astro";

const entries =
  await contentfulClient.withoutUnresolvableLinks.getEntries<ContentfulEvent>({
    "content_type": "event",
    "fields.endDate[gt]": new Date().toISOString() as any,
  });
---

<div class="pb-16">
  <main>
    <section id="hero">
      <Image
        id="hero-image"
        src={background}
        alt=""
        fetchpriority="high"
        width="960"
      />
      <div
        class="absolute inset-0 bg-gradient-to-b from-transparent via-flamingo/20 to-black"
      >
      </div>
      <div
        class="absolute inset-0 flex flex-col justify-center items-center text-center text-white px-4"
      >
        <Image src={logo} alt="Logo" class="w-3/4 max-w-lg mb-4" />
        <p>A jazz combo from La Crosse, Wisconsin</p>
      </div>
    </section>
    <section id="events">
      <h1 class="text-6xl text-flamingo font-serif text-center my-8">
        Upcoming Events
      </h1>
      <div class="flex flex-col gap-8 mb-12">
        {
          entries.items.length > 0 ? (
            entries.items.map((event, i) => (
              <EventCard event={event} showPhoto={i === 0} />
            ))
          ) : (
            <div class="max-w-3xl mx-auto text-center text-white">
              <p>
                Check back soon for upcoming events! In the meantime, follow us
                on Instagram and YouTube to stay updated.
              </p>
            </div>
          )
        }
      </div>
    </section>
  </main>

  <style>
    #hero {
      position: relative;
      height: min(100vh, 910px);
      width: 100%;
      overflow: hidden;
    }
    #hero-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      transform: scale(1.05);
      filter: brightness(0.75) blur(4px);
      object-fit: cover;
    }
  </style>
</div>
